body{
    max-width:100vw;
    min-height: 100vh;
    background-color:#a8dadc ;
    font-family:'Playfair Display', serif;
    display: flex;
   
}
  nav{
      display: flex;
      flex-direction: row;
     
     
  }
  main{
    justify-content: center;
    align-items:center;
  }
