body{
    max-width:100vw;
    max-height: 100vh;
    background-color:#a8dadc ;
    font-family:'Playfair Display', serif;
    display: flex;
   align-items: center;

   
   
}

.Top{
    width: 18rem;
    height: 3rem;
  position: relative;
  top: -10rem;
    
    }
    .t3{
        position: relative;
        right: -50rem;
    }
    .t2{
        position: relative;
        right: -30rem;
    }
    .t1{
        position: relative;
        right: -10rem;
    }
 
  .t1,.t2,.t3{
      display: flex;
   border: 3px solid #f1faee;
      display: inline-block;
      padding: 1px;
      
    
     
     
    }


 
    
    
}

.container{
    max-width: 30%;
    min-height: 70%;
    display: flex;
    align-self: flex-end ;
   
 }
