body{
    max-width:100vw;
    min-height: 100vh;
    background-color:#a8dadc ;
    font-family:'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items:center;
}
  
